
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GATE CS by Vishwa's Classes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{%static '/css/base_header_footer.css'%}?v=<?=time();?">
    <script src="{%static '/js/jquery-3.4.1.min.js'%}"></script> <!-- jQuery library for ajax request-->
</head>

<body>
    <header>
        <div class="container">
            <h1>GATE CS by Vishwa's Classes</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="tests">Test Series</a></li>
                    <li><a href="#">About Us</a></li>
                    {%ifequal login 1%}
                    <li><a href="#">My Learning</a></li>
                    <li><a class="bluebutton" href="logout" id="logout">Logout</a></li>
                    {%else%}
                    <li><button id="overlayBtn" class="bluebutton" onclick="openOverlay()">Login/Signup</button></li>
                    {%endifequal%}
                </ul>
            </nav>
        </div>
    </header>

    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <span class="closeBtn" onclick="closeOverlay()">&times;</span>
            <div id="login-form" class="form-container">
                <h2>Login</h2>
                <form action="login" method="post">
                  {%csrf_token%}
                    <input type="text" name="email" placeholder="Username" required>
                    <input type="password" name="pass" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account? <a href="#" onclick="showSignup()">Sign Up</a></p>
            </div>
            <div id="signup-form" class="form-container hidden">
                <h2>Sign Up</h2>
                <form action="signup" method="post">
                  {%csrf_token%}
                    <input type="text" placeholder="Username" required>
                    <input type="email" placeholder="Email" required>
                    <input type="password" placeholder="Password" required>
                    <button type="submit">Sign Up</button>
                </form>
                <p>Already have an account? <a href="#" onclick="showLogin()">Login</a></p>
            </div>
        </div>
    </div>
<main>
  <div class="main-content">