{% include 'base_q.html'%}
{%load static%}

{% block content %}
<link rel="stylesheet" href="{%static '/css/tests.css'%}?v=<?=time();?">
<script src="{%static '/js/test.js'%}?v=<?=time();?"></script>

    <div class="test-container">
        {% for i in types%}
         <div class="test-type" id ="{{i.ttype}}">
            <h2>{{i.ttype}} Tests</h2>
            <p>{{i.description}}</p>
            <a href="#">Explore Tests</a>
             <div class="test-overlay">
              <div class="test-overlay-content">
                
              </div>
            </div>
          </div>
        {%endfor%}
    </div>


{% endblock %}

{% include 'footer.html' %}