/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0%;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition ef fect to slide in or slide down the overlay (height or width, depending on reveal) */
  display:flex;
  justify-content: center;
  align-items:center;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%; /* 25% from the top */
  height :100%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 2%; /* 30px top margin to avoid conflict with the close button on smaller screens */
  margin-left: 40%;
}

/* The navigation links inside the overlay */
/*
.overlay .sub {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline
  transition: 0.3s; /* Transition effects on hover (color)
}
*/
/* When you mouse over the navigation links, change their color*/
/*
.overlay .sub:hover, .overlay .sub:focus {
  color: #f1f1f1;
}*/

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  left:90%;
  right:5%   ;
  height:25px;
  width:10%;
  font-size: 15px;
  text-align:center:
  border-radius:20px;
}
.closebtn div{
top:-10px;
margin-top:-6px;
font-size:25px;
}
padding-bottom:10px;
}
.closebtn hover{
    background:red;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 35px;
    right: 35px;
  }
}
.signup{
  position: absolute;
  height: 45%;
  width: 300px;
  background: white;
  font-size: 15px;
  border-radius:20px;
}
.login{
  position: absolute;
  height: 45%;
  width: 300px;
  background: white;
  font-size: 15px;
  border-radius:20px;
}
.ipsignup1{
margin-top:5%;
margin-bottom:2%;
width : 70%;
}

.signupbut{
position:absolute;
background:#ffffff;
width : 45%;
height:25px;
left:0;
border:1px;
border-radius:20px;
}
.loginbut{
position:absolute;
left:45%;
background:#dbdbdb;
width : 45%;
height:25px;
border:1px;
border-radius:20px;
}
.sub{
width:30%;
height:10%;
}

