/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #0056b3;
}

section#hero {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

section#hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section#hero p {
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background-color: fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: #555;
}

#login-form, #signup-form {
  display: inline-block;
  text-align: left;
  margin-bottom: 20px;
}

#login-form form, #signup-form form {
  margin-top: 10px;
}

#login-form p, #signup-form p {
  font-size: 14px;
  margin-top: 10px;
}

#login-form a, #signup-form a {
  color: #007bff;
  text-decoration: none;
}

#login-form a:hover, #signup-form a:hover {
  text-decoration: underline;
}

#login-form form, #signup-form form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



#login-form form input,
#signup-form form input {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#login-form form button,
#signup-form form button {
  margin: 10px 0;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-form form button:hover,
#signup-form form button:hover {
  background-color: #0056b3;
}
